---
version: "3"
services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=America/New_York
    volumes:
      - ${FILE1}:/config
    # ports:
    #  - 5055:5055
    restart: unless-stopped
    networks:
      - cloudflare

networks:
  cloudflare:
    external: true
