---
version: "3.9"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:nightly
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - NAME_SERVERS=${NAME_SERVERS}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${FILE1}:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - cloudflare

networks:
  cloudflare:
    external: true
