---
version: "3.9"
services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - "NAME_SERVERS=${NAME_SERVERS}"
    ports:
      - 7878:7878
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${FILE1}:/config
      - ${FILE2}:/plex
    restart: unless-stopped
    networks:
      - cloudflare

networks:
  cloudflare:
    external: true
